.upload{
    width: 100%;
    &__body{
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, .1%) 0px 2px 8px;
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        padding: 24px 56px;
        height: 80vh;
        &__content{
            height: 70%;
            margin-top: 60px;
            > form{
                display: flex;
                height: 100%;
            }
            &__file{
                max-width: 280px;
                width: 100%;
                border-radius: 10px;
                background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: gray; stroke-width: 3; stroke-dasharray: 6 6'/></svg>");
                @include flex(center, center);
                cursor: pointer;
                >.video__ctrl{
                    height: 100%;
                }
                .drop__content{
                    @include flex(center, center);
                    flex-direction: column;
                }
                >input{
                    height: 100%;
                }
                &:hover{
                    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: red; stroke-width: 3; stroke-dasharray: 6 6'/></svg>");
                }
            }
            &__form{
                width: 100%;
                margin-left: 40px;
                transform: translateY(-25px);
            }
            &__btn{
                margin-top: 40px;
            }
        }
    }
    @media only screen and (max-width: 768px) {
        &__body{
            padding: 0;
            &__content{
            
                >form{
                    flex-wrap: wrap;
                    justify-content: center;
                }
                &__file{
                    max-width: 100%;
                    padding: 20px;
                    >div{
                        h6{
                            display: none;
                            &:nth-last-of-type(6){
                                display: block;
                            }
                        }
                    }
                }
                &__form{
                    transform: translateY(0);
                    margin-top: 20px;
                    margin-left: 0;
                }
            }
        }
    }
}