.card{
    border: none;
    border-radius: 0;
    margin-left: 20px;
    padding: 10px 0;
    ~.card{
        margin-top: 20px;
        border-top: 1px solid #dbdbdb;
    }
    background: transparent;
    &__header{
        @include flex(center, space-between);
        &__ava{
            display: flex;
            align-items: flex-start;
        }
    }
    &__body{
        margin-top: 5px;
        max-width: 400px;
        width: 100%;
        height: 500px;
        display: flex;
        align-items: flex-end;
        transform: translateX(50px);
    }
    &__footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        transform: translateX(50px);
        >div~div{
            margin-top: 10px;
        }
        >div{
            display: flex;
            flex-direction: column;
            align-items: center;
            &:nth-child(1){
                .card__footer__item{
                    padding-bottom: 10px;
                }
            }
        }
        &__item{
            display: flex;
            padding: 14px;
            border-radius: 50%;
            background: $color_opacity;
            cursor: pointer;
        }
        i{
            font-size: 22px;
        }
    }
}