.follow__thumb{
    max-width: 200px;
    width: 100%;
    height: 300px;
    position: relative;
   video{
       object-fit: cover;
       height: 100%;
       width: 100%;
   }
   &__user{
       position: absolute;
       bottom: 20px;
       left: 50%;
       transform: translateX(-50%);
       pointer-events: none;
       background: #fff;
       border-radius: 10px;
       padding: 15px;
       display: flex;
       flex-direction: column;
       align-items: center;
       a{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
        pointer-events: auto;
       }
       button{
        pointer-events: auto;
       }
   }
}