.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $border_color;
    background: #fff;
    z-index: 999;
    &__container{
        @include flex(center, space-between);
        height: 100%;
    }
    &__logo{
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
        }
        span{
            font-size: 30px;
            font-weight: 900;
        }
    }
    &__search{
        max-width: 400px;
        width: 100%;
        background: $gray;
        display: flex;
        align-items: center;
        border: $border_color;
        border-radius: 30px;
        padding: 5px;
        position: relative;
        input{
            width: 100%;
            border: none;
            padding: 5px 15px;
            background: transparent;
        }
        i{
            margin-right: 15px;
            color: #b6b2b2;
            font-weight: 500;
        }
        .search__modal{
            position: absolute;
            top: 115%;
            left: 0;
            width: 100%;
            background: #fff;
            box-shadow: rgba(0, 0, 0, .1%) 0px 2px 8px;
            border-radius: 10px;
            overflow: hidden;
            max-height: 400px;
            overflow-y: auto;
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        &__item~&__item{
            margin-left: 15px;
        }
        &__item{
            &:nth-child(2){
                .header__menu__link{
                    padding: 7px;
                }
            }
        }
        &__link{
            cursor: pointer;
            display: flex;
            border-radius: 50%;
            padding: 5px;
            .dropdown-menu{
                margin: 0;
                padding: 0;
                border-radius: 10px;
                border: 1px solid #dbdbdb;
                overflow: hidden;
                z-index: 1000;
                .dropdown-item{
                    font-size: 18px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    padding: 8px 15px;
                    > i{
                        margin-right: 10px;
                        font-size: 20px;
                    }
                    &:hover{
                        background: $color_opacity;
                    }
                }
            }
            
            
            &.active{
                background: $color_opacity;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        &__menu{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            @include flex(center, space-between);
            border-top: 2px solid $border_color;
            padding: 10px 20px;
            background: #000;
            z-index: 1200;
        }
    }
}